/.ignore/.ignore

Quartz-RTE.code-workspaceQuartz-RTE.code-workspace

*\.history*\.history

# Hardlinked dependency files (link to main AHK Lib)
src/lib/Pipe.ahk
src/lib/TestLogger.ahk
src/lib/Clipboard.ahk
src/lib/Keys.ahk
src/lib/WindowManager.ahk
